nav {
  ul {
    --height: 32px;
    display: flex;
    position: relative;
    padding: 0;
    margin: 10px;
    width: 100%; /* 또는 max-width: 1200px 정도로 제한 */
    height: 32px;
    align-items: center;
  }
  li {
    list-style-type: none;
    align-items: center;
  }
  .profile img {
    height: var(--height);
  }
  .login {
    margin-left: auto;
    margin-right: 16px;
  }
}
