header {
  /* border: 2px solid red; */
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.25rem;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .login {
    display: flex;
    margin-left: auto;
    font-size: 25px;
    align-items: center;
  }
  .profile img {
    width: 32px;
    height: 32px;
    display: block; /* 이미지 하단 여백 제거 */
  }
}
